form {
	color: white;
}

.wrapper {
	/*background-color: black;*/
}

.jumbotron {
	background-color: black;
}

.modal{
	background-color: black;

}

.modal-body{
	background-image: url("../img/nen.gif");
}

.modal-footer{
	background-color: black;

}


body{
	color: white;
	/*background-image: url("../img/luxury.jpg");*/
	background-color: black;

}


